{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">

    <div class="col-lg-6 ">
        <div class="box-element mt-4 m-2 p-2 custom-shadow " id="form-wrapper">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            <div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Image</th>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
                        {%for item in items %}
						<tr class="cart-row">
							<td><img class="row-image" src="{{item.product.imaeURL}}"></td>
							<td>{{item.product.name}}</td>
							<td>${{item.product.price}}</td>
							<td>x{{item.quantity}}</td>
						</tr>
                        {%endfor%}
					</tbody>
				</table>
			</div>
			<h5>Items:  {{order.get_cart_items}}</h5>
			<h5>Total:   ${{order.get_cart_total}}</h5>
		
        </div>
    </div>

    <div class="col-lg-6 ">
        <div class="box-element mt-4 m-2 p-2 custom-shadow" id="form-wrapper">
            <form id="form">
				<H3> Information </H3>
                <div id="user-info">
                    <div class="form-group">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-group">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-group">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>

    </div>

    


	<!-- payment option -->
    <div class="container m-2 p-2 d-none" id="payment-info">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="custom-shadow">
						<h3 class="text-center">Payment Options</h3>
						
						<ul class="text-center list-group" id="make-payment"  >

							<a  href="#"> <li class="list-group-item shag-nav-item-li"> 
                                <img src="{%static 'images/bkash_logo.png'%}" alt="Image 2" style="width: 50px; height: 30px;"> bkash </li>  </a> 

                                <a  href="#"> <li class="list-group-item shag-nav-item-li">     
                                <img src="{% static 'images/rocket_logo.png' %}" alt="rocket" class="me-3" style="width: 50px; height: 30px;"> Rocket </li> </a>
							<a href=" "><li class="list-group-item shag-nav-item-li">
                                <img src="{% static 'images/nagad_logo.png' %}" alt="nagad" class="me-3" style="width: 50px; height: 30px;" > Nagad </li></a>
                            <a href=" "><li class="list-group-item shag-nav-item-li">
                                <img src="{% static 'images/upay_logo.png' %}" alt="upay" class="me-3" style="width: 50px; height: 30px;" > U-Pay </li></a>
                            <a href=" "><li class="list-group-item shag-nav-item-li">
                                <img src="{% static 'images/bank_logo.png' %}" alt="bank" class="me-3" style="width: 50px; height: 30px;" > Bank Transfer </li></a>
                            <a href=" "><li class="list-group-item shag-nav-item-li">
                                <img src="{% static 'images/cod_logo.png' %}" alt="COD" class="me-3" style="width: 50px; height: 30px;" > Cash On Delivery </li></a>
						</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'
    
    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-button').classList.add("d-none");
        document.getElementById('payment-info').classList.remove("d-none");
    })
    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')
        var userFormData = {
            'name':form.name.value,
            'email':form.email.value,
            'total':total,
        }

        var shippingInfo = {
            'address':form.address.value,
            'city':form.city.value,
            'state':form.state.value,
            'zipcode':form.zipcode.value,
        }

        console.log('Shipping Info:', shippingInfo)
        console.log('User Info:', userFormData)

        var url = "/ProductList/process_order/"
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken ,
            }, 
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
            
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');  
            window.location.href = "{% url 'home' %}"
        })
    }
</script>

{% endblock content %}
