{% extends 'base.html' %}
{% load static %}

{% block content %}
<body >
<!-- Carousel ------------------------------------------------------------------>
<div id="carouselExampleInterval" class="carousel slide rounded-5" data-bs-ride="carousel">
    <div style="background-image:url({%static 'images/bgi2.jpg'%}); background-size: cover;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        
        <div class="row">

            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center ">
               <div class="p-5" style="color: #bbffecf3">
                <H1> Nike Pro Edition</H1>
                <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ipsa quidem. Officiis maxime impedit aliquid.</P>
               </div>
            </div>
            <div class="col-12 col-md-6 p-5">
                <img src="{%static 'images/slide1.jpg'%}" class="img-fluid d-block w-100" style= "width: 100px; height: 350px;" alt="...">
            </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div class="p-5" style="color: #bbffecf3;">
                 <H1> Sports Collection</H1>
                 <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ipsa quidem. Officiis maxime impedit aliquid.</P>
                </div>
              </div>
            <div class="col-12 col-md-6 p-5">
                <img src="{%static 'images/slide2.jpeg.jpg'%}" class="img-fluid d-block w-100" style= "width: 100px; height: 350px;" alt="...">
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
              <div class="p-5" style="color: #bbffecf3;">
                 <H1> Best Sports Package</H1>
                 <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ipsa quidem. Officiis maxime impedit aliquid.</P>
                </div>
             </div>
            <div class="col-12 col-md-6 p-5">
                <img src="{%static 'images/slide3.jpeg.jpg'%}" class="img-fluid d-block w-100" style= "width: 100px; height: 350px;" alt="...">
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" style="margin-top: 350px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" style="background-color: #2d718c" aria-hidden="True"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next " style="margin-top: 350px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" style="background-color: #2d718c;" aria-hidden="true"></span>
      <span class="visually-hidden ">Next</span>
    </button>
  </div>
  </div>
 
  


<!-- Sale -->
<h2 class=" m-5 d-flex justify-content-center align-items-center" style="color: #2d718c;">.....% SALE %.....</h2>
<div class="container-fill rounded-5 p-4 m-3  " style="background-color: #6aa997;">
<div class="container-fill rounded-5">

    <h2 class="p-3 d-flex justify-content-center ~" style="color:#f70000;">50% OFF</h2>
    <!-- Countdown Clock -->
    <div id="countdownClock" class="text-center ">
      <h2 class="mb-4 justify-content-center align-items-center" style="font-size: xx-large;"> Offer Till</h2>

      <div id="countdownTimer" class="row justify-content-center align-items-center" style="font-size: x-large; ">
        <div class="col-auto">
          <div class="countdown-item">
            <span id="days" class="countdown-number"></span>
            <span class="countdown-label" >Days</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="countdown-item">
            <span id="hours" class="countdown-number"></span>
            <span class="countdown-label">Hours</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="countdown-item">
            <span id="minutes" class="countdown-number"></span>
            <span class="countdown-label">Minutes</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="countdown-item">
            <span id="seconds" class="countdown-number"></span>
            <span class="countdown-label">Seconds</span>
          </div>
        </div>
      </div>
  </div>

  <div class="p-3 row justify-content-center align-items-center" >
    <button type="button" class="btn btnn btn-lg rounded-pill shadow " style="width: 40%;">Shop Now</button>
  </div>

  <div class="row rounded-5  align-items-center justify-content-center" style="width: 60%; ">
    <div class="d-flex">
        <div>
            <h1 class="card-title" style="color:#f70000;">50% OFF</h1>
            <h1>:::::::::</h1>
            <h3>Limited Time Offer</h3>
            <p class="card-text text-lg">Buy Exciting Products in a Limited Time %SALE%. Lorem ipsum dolor sit amet </p>
        </div>
        
    </div>
</div>
</div>


</div>


<!-- Card New Arrivals------------------------------------------------------------>

<h2 class=" m-5 d-flex justify-content-center align-items-center" style="color: #2d718c;">.....New Arrivals.....</h2>

<div class="container-fill rounded-5 p-4 m-3  " style="background-color: #6aa997;">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4  rounded-3 g-4 m-2">
    {% for product in products %}
      {% if forloop.counter <= 8 %}
        <div class="col">
          <div class="card rounded-3 h-100 p-2" style="background-color: #88e3c9;">
            
            <img src="{{ product.image.url }}" class="card-img-top rounded-3" alt="{{ product.name }}" style="height: 350px; object-fit: cover;">
            
            <h5 class="card-title p-2">{{ product.name }}</h5>
            
            <div class="card-body" style="max-height: 160px; overflow-y: auto; background-color: #9bd9c7;">
              <p class="card-text " >{{ product.description }}</p>
            </div>

            <h3 class="p-3" style="background-color: #88e3c9;">${{ product.price }}</h3>

            <a href="#" class="btn  btnn rounded-pillow shadow">Buy</a>
            <div class="card-footer m-1" style="background-color: #88e3c9;"> 
              <small class="text-body-secondary ">Date Added: {{ product.created_at }}</small>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>







<!-- Coming Soon -->

<h2 class=" m-5 d-flex justify-content-center align-items-center" style="color: #2d718c;">.....Coming Soon.....</h2>

<div class="container-fill rounded-5 p-4 m-5" style="background-color: #6aa997; min-height: 450px;">

  <div class="container">
      <div id="productsCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              {% for product in upcoming_products %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="rounded-circle image-container" style="border-radius: 50%; overflow: hidden; height: auto;">
                              <img src="{{ upcoming_products.0.image.url }}" class="d-block img-fluid" alt="{{ upcoming_products.0.name }}">
                          </div>
                          <div class="d-flex justify-content-center align-items-center" style="background-color: #9bd9c7; color: #2d718c;">
                            <h5>{{ upcoming_products.0.name }}</h5>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="rounded-circle image-container" style="border-radius: 50%; overflow: hidden; height: auto;">
                              <img src="{{ product.image.url }}" class="d-block img-fluid" alt="{{ product.name }}">
                          </div>
                          <div class="d-flex justify-content-center align-items-center" style="background-color: #9bd9c7; color: #2d718c;">
                            <h5>{{ product.name }}</h5>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="rounded-circle image-container" style="border-radius: 50%; overflow: hidden; height: auto;">
                              <img src="{{ upcoming_products.2.image.url }}" class="d-block img-fluid" alt="{{ upcoming_products.2.name }}">
                          </div>
                          <div class="d-flex justify-content-center align-items-center" style="background-color: #9bd9c7; color: #2d718c;">
                            <h5>{{ upcoming_products.2.name }}</h5>
                        </div>
                      </div>
                  </div>
                  
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>







</body>




{%endblock%}

