{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Carousel ------------------------------------------------------------------>

<div id="carouselExampleInterval" class="carousel slide bg-warning-subtle m-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
               <div>
                <H1> Product 1</H1>
                <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ipsa quidem. Officiis maxime impedit aliquid.</P>
               </div>
            </div>
            <div class="col-12 col-md-6 p-5">
                <img src="{%static 'images/slide1.jpg'%}" class="img-fluid d-block w-100" style= "width: 100px; height: 500px;" alt="...">
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div>
                 <H1> Product 2</H1>
                 <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ipsa quidem. Officiis maxime impedit aliquid.</P>
                </div>
             </div>
            <div class="col-12 col-md-6 p-5">
                <img src="{%static 'images/slide2.jpeg.jpg'%}" class="img-fluid d-block w-100" style= "width: 100px; height: 500px;" alt="...">
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div>
                 <H1> Product 3</H1>
                 <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ipsa quidem. Officiis maxime impedit aliquid.</P>
                </div>
             </div>
            <div class="col-12 col-md-6 p-5">
                <img src="{%static 'images/slide3.jpeg.jpg'%}" class="img-fluid d-block w-100" style= "width: 100px; height: 500px;" alt="...">
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" style="margin-top: 500px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" style="background-color: rgba(77, 2, 2, 0.596)5%, 15%, 0.596);" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next " style="margin-top: 500px; type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" style="background-color: rgba(77, 2, 2, 0.596)5%, 15%, 0.596);" aria-hidden="true"></span>
      <span class="visually-hidden ">Next</span>
    </button>
  </div>


<!-- Card------------------------------------------------------------>
<div class="container-fluid bg-success m-3 ">
  <H1>ALuu le lo....</H1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 m-2 ">
      <div class="col">
        <div class="card">
          <img src="{%static 'images/c1.jpg'%}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{%static 'images/c3.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{%static 'images/c5.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{%static 'images/bat1.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{%static 'images/Mpant2.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{%static 'images/boot1.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{%static 'images/c4.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

{%endblock%}