<!-- Products_Lists/templates/Products_Lists/product_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="allign-center">Product Listtttttttttttt</h1>

  
<div>
    {% for product in products%}
    {% if forloop.counter <= 3 %}
        <div class="card text-bg-dark g-3 mx-auto p-2 rounded m-4" style="width: 900px; height: 400px;">
            <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}" style="height: 400px;" object-fit: cover;>
            <div class="card-img-overlay">
            <h5 class="card-title text-success">{{ product.name }}</h5>
            <p class="card-text text-success">{{ product.description }}</p>
            <p class="card-text text-success" style="background-color: chartreuse;"><small>{{ product.created_at }}</small></p>
            <button type="button" class="btn btn-outline-success">Order Now</button>
            </div>
        </div>
    {%endif%}
    {%endfor%}
</div>

<H1 style="color: brown;" > Test</H1>
<div>
    {% for product in products %}
        {% if forloop.counter <= 3 %}
            <div class="card text-dark bg-light mb-3" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ product.created_at }}</small></p>
                            <button type="button" class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
