/* styles.css */

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:aqua;
}

/* styles.css */

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px; /* Adjust according to your logo size */
  margin-right: 80px; /* Provide some space between the logo and text */
  border-radius: 50%; /* Makes the image round */
  overflow: hidden;
}

.logo h1 {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Adjust font size as needed */
  color: #ed1111; /* Change text color as needed */
  margin-left: 2px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.user-actions a {
  text-decoration: none;
  color: #333;
}

/* Main Styles */
.main {
  padding: 20px;
  background-color: #333;
  color: aqua;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #0673f093;
}
