{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BootStrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'FavIcon/css/all.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!-- ........Under is my profile link of my fontawesome website..... -->
    <!-- <script src="https://kit.fontawesome.com/3a88653956.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/countdownclock.css' %}">

    



    <title>Sports Khudha</title>

</head>

<body style="background-color:#bbffecf3;">
    <Header>
      {%include 'partial/nav.html'%}
    </Header>

    <main>
    
    {% block content %}


      {% endblock%}
    </main>

    
    <footer>

      {%include 'partial/foot.html'%}
      {%include 'partial/top.html'%}

    </footer>
    
    <!-- JavaScript-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/clock.js' %}"></script>
    
    

</body>

</html>