{%load static%}
<footer >

      <div style="background-image : url({%static 'images/bgi.jpg'%}); background-size: cover;">
      
      <div class="footer-top p-4">
        
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-lg-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
              <img class="logo-footer rounded-5" src="{%static 'images/logo.jpg'%}" alt="logo-footer" data-at2x="" width="74" height="84">
              <p>
                We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
              </p>
              <p><a href="#">Our Team</a></p>
                  </div>
            <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
              <h3>Contact</h3>
                  <p><i class="fas fa-map-marker-alt"></i> Xxx Xxxxxxx 10, Xx Xxxx</p>
                  <p><i class="fas fa-phone"></i> Phone: (XXX) XXX XX XXX XX</p>
                  <p><i class="fas fa-envelope"></i> Email: <a href=" ">XXXXX@gmail.com</a></p>
                  <p><i class="fab fa-skype"></i> Skype: you_online</p>
                  <p><i class="fab fa-facebook"></i> Facebook: you_online</p>
                  <p><i class="fab fa-instagram"></i> Instagram: you_online</p>
                  </div>
                  <div class="col-md-4 col-lg-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                      <div class="col">
                        <h3>Links</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p><a class="scroll-link" href="#top-content">Top</a></p>
                        <p><a class="scroll-link" href="#section-1">Section 1</a></p>
                        <p><a class="scroll-link" href="#section-2">Section 2</a></p>
                        <p><a class="scroll-link" href="#section-3">Section 3</a></p>
                      </div>
                      <div class="col-md-6">
                        <p><a class="scroll-link" href="#section-4">Section 4</a></p>
                        <p><a href="#">Affiliates</a></p>
                        <p><a href="#">Terms</a></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <h6 class=""> &copy; 2024 @Sports Khudha. All rights reserved.</h6>
        </div>
      </div>
  
  </footer>
 