{% load static %}
<nav>
  <ul>
    <li>
      <a href=" ">Apparel</a>
      <ul class="sub-menu">
          <li><a href=" ">T-shirts</a></li>
          <li><a href=" ">Shorts</a></li>
          <li><a href=" ">Hoodies/Sweatshirts</a></li>
          
      </ul>
    </li>
    <li>
      <a href=""> Sports Equipment</a>
      <ul class="sub-menu">
          <li><a href=" ">Cricket</a></li>
          <li><a href=" ">Football</a></li>
          <li><a href=" ">Badminton</a></li>
          <li><a href=" ">others</a></li>
          
      </ul>
    </li>
    <li>
      <a href="  "> Footwear</a>
      <ul class="sub-menu">
        <li><a href=" ">Running Shoes</a></li>
        <li><a href=" ">Football Cleats</a></li>
        <li><a href=" ">Cricket Shoes</a></li>
        <li><a href=" ">others</a></li>
      
      </ul>
    </li>

    <li>
      <a href=" ">Accessories</a>
      <ul class="sub-menu">
        <li><a href=" ">Bags</a></li>
        <li><a href=" ">Water Bottles</a></li>
        <li><a href=" ">Wristbands/Headbands</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Collections</a>
      <ul class="sub-menu">
          <li><a href=" ">New Arrivals</a></li>
          <li><a href=" ">Best Sellers</a></li>
          <li><a href=" ">Sale/Clearance</a></li>
          
      </ul>
    </li>
  </ul>
</nav>